html,body{
  overflow-x: hidden;
  overflow-y: auto;
}

button {
    height: 20px;
    width: 100%;
}

#welcomeOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

#gameSpace {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    border-width: 0px;
    border-style: outset;
    border-color: #193947;

    height: 600px;
    width: 600px;
}

#leftInfoPanel {
    height: 100px;
    background-color: white;
    width: 150px;
}

#rightInfoPanel {
    height: 100px;
    background-color: white;
    width: 150px;
}

.gameBox {
    height: 58px;
    width: 58px;
    
    float: left;
 
    border-width: 1px;
    border-style: solid;
    border-color: #193947;
}

.gameBox:hover {
    height: 56px;
    width: 56px;
    border-color: red;
    border-width: 2px;
}

.down {
    transform: rotate(90deg);
}

.tankBlue {
    background-image: url("../images/TankBlue.png");  
    background-size: 90%; 
    background-repeat: no-repeat;  
    background-position: center;
}

.landMine {
    background-image: url("../images/landMine.png");  
    background-size: 55%; 
    background-repeat: no-repeat;  
    background-position: center;
}

.explosion {
    background-image: url("../images/explosion.png");  
    background-size: 100%; 
    background-repeat: no-repeat;  
    background-position: center;
}

.hole {
    background-image: url("../images/hole.png");  
    background-size: 95%; 
    background-repeat: no-repeat;  
    background-position: center;
}

.crash {
    background-image: url("../images/crash.png");  
    background-size: 80%; 
    background-repeat: no-repeat;  
    background-position: center;
}

.map {
    background: url("../images/gameMap.png");
    background-size: auto;
}

#infoDetails {
    background-color: white;
    color: black;
    width: 500px;
}

/*   Scalability */

@media only screen and (max-width: 700px) {
    #gameSpace {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;

        border-width: 0px;
        border-style: outset;
        border-color: #193947;

        height: 400px;
        width: 400px;
    }

    .gameBox {
        height: 38px;
        width: 38px;
        
        float: left;
    
        border-width: 1px;
        border-style: solid;
        border-color: #193947;
    }

    .gameBox:hover {
        height: 36px;
        width: 36px;
        border-color: red;
        border-width: 2px;
    }
}

@media only screen and (max-width: 400px) {
    #gameSpace {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;

        border-width: 0px;
        border-style: outset;
        border-color: #193947;

        height: 300px;
        width: 300px;
    }

    .gameBox {
        height: 28px;
        width: 28px;
        
        float: left;
    
        border-width: 1px;
        border-style: solid;
        border-color: #193947;
    }

    .gameBox:hover {
        height: 26px;
        width: 26px;
        border-color: red;
        border-width: 2px;
    }
}